body{
    
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    display: inline-flex;
}
header h1{ 
    margin-top: 25%;
}
.main{
    padding: 1%;
    height: 500px;
    float: left;
    width: 48%;
    border-right: 2px solid black;
}
.secoundMain{
    float: right;
    width: 48%;
}