@media (max-width:500px){
    header h1{
        text-align: center;
    }
    header img{
        display: block;
        margin: 0 auto;
        width: 10rem;
        margin-bottom: 10%;
    }
    nav a{
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 3%;
        border: 0.3px solid black;
    }
    aside {
        padding: 3%;
    }
    .aside{
        border: 0.3px solid black;
        margin-top: 5%;
    }
    .aside img{
        width: 8rem;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aside p{
        text-align: center;
        padding: 5%;
    }



    .aside1{
        border: 0.3px solid black;
        margin-top: 5%;
    }
    .aside1 img{
        width: 8rem;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aside1 p{
        text-align: center;
        padding: 5%;
    }



    .aside2{
        border: 0.3px solid black;
        margin-top: 5%;
    }
    .aside2 img{
        width: 8rem;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aside2 p{
        text-align: center;
        padding: 5%;
    }
}