@media (max-width:500px){
    header h1{
        text-align: center;
    }
    header .img img{
        display: block;
        margin: 0 auto;
        width: 10rem;
        margin-bottom: 10%;
    }
    nav a{
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 3%;
        border: 0.3px solid black;
    }
    nav a:active{
        background-color: aqua;
        color: #fff;
    }
    aside {
        padding: 3%;
    }
    .aside{
        border: 0.3px solid black;
        margin-top: 5%;
    }
    .aside img{
        width: 8rem;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aside p{
        text-align: center;
        padding: 5%;
    }



    .aside1{
        border: 0.3px solid black;
        margin-top: 5%;
    }
    .aside1 img{
        width: 8rem;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aside1 p{
        text-align: center;
        padding: 5%;
    }



    .aside2{
        border: 0.3px solid black;
        margin-top: 5%;
    }
    .aside2 img{
        width: 8rem;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aside2 p{
        text-align: center;
        padding: 5%;
    }
}

/* @media (min-width:501px) and (max-width: 780px){ */
    /* header h1{ */
        /* display: block; */
        /* float: left; */
    /* } */
    /* .img{ */
        /* float: left; */
        /* clear: both; */
    /* } */
    /* aside{ */
        /* clear: both; */
    /* } */
    /* header nav a{ */
        /* float: right; */
/*          */
    /* } */
/* } */